{
  "plugins": [
    "transform-flow-strip-types"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Firefox versions"
          ]
        }
      }
    ],
    "stage-2"
  ]
}
