.albums {
	background: $trans
	bottom: 0
	display: flex
	flex-wrap: wrap
	font-size: 0.8em
	justify-content: center
	position: absolute
	width: 100%
	z-index: 2
}

.albums::-webkit-scrollbar {
	display: none
}

.album {
	cursor: pointer
	flex-shrink: 0
	overflow: hidden
	text-align: center

	.album-title, .album-artist {
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
	}

	.album-title {
		margin-top: 5px
	}

	.cover-art {
		border: 5px solid rgba(255, 255, 255, 0.05)
		display: block
		height: 100px
		width: 100px
	}
}

.current-album {
	font-weight: bold

	.cover-art {
		border-color: $color
	}
}

.album:hover {
	.cover-art {
		border-color: rgba(255, 255, 255, 0.2)
	}
}

.buttons {
	align-items center
	display: flex
	position: absolute
	right: 0
	top: -50px

	span {
		font-size: 2em
	}
}


