.albums {
	display: flex
	justify-content: center
	overflow hidden
}

.album {
	cursor: pointer
	overflow: hidden
	text-align: center

	.album-title {
		margin-top: 5px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
	}

	.cover-art {
		border: 5px solid rgba(255, 255, 255, 0.05)
		display: block
		height: 100px
		width: 100px
	}
}

.current-album {
	font-weight: bold

	.cover-art {
		border: 5px solid $color
	}
}

.close-albums {
	position: absolute
	right: 0
}

