.app {
	bottom: 0
	display: flex
	flex-direction: column
	justify-content: space-around
	left: 0
	position: absolute
	right: 0
	top: 0
}

.prev-song, .next-song {
	border: 0
	cursor: pointer
	display: block
	opacity: 0
	outline: none
	transition opacity .2s linear
	width: 5%
	z-index: 1
}

.prev-song {
	background: radial-gradient(ellipse at 0 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%)
}

.next-song {
	background: radial-gradient(ellipse at 100% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%)
}

.prev-song:hover, .next-song:hover {
	opacity: 1
}

.fullscreen {
	margin: 0
	position: absolute
	right: 0
	top: 0
	z-index: 2
}

