.app {
	bottom: 0
	display: flex
	flex-direction: column
	justify-content: space-around
	left: 0
	position: absolute
	right: 0
	top: 0
}

.app-header {
	position: absolute
	right: 0
	top: 0
	z-index: 2

	button {
		margin: 0
	}
}

.search-form {
	display: inline-block
}

.search-input {
	background: none
	border: 2px solid #999
	border-radius: 2px
	color: #eee
	margin: 0 auto
	outline: none
	padding: 0.5em
	width: 10em
}
