.current-song {
	min-height: 260px
	/* vynil needs to spin below song infos */
	z-index: 1
}

.current-song-title {
	font-size: 4em
	letter-spacing: 0.05em
	margin-bottom: 0.2em
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3)
}

.current-song-artist {
	cursor: pointer
	font-size: 2em
	letter-spacing: 0.05em
	margin-bottom: 0.4em
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3)
}

.current-song-by, .current-song-on, .current-song-in {
	color: #bbb
	margin-right: 0.4em
	font-size: 0.9em
}

.current-song-in {
	margin-left: 0.4em
}

.current-song-album, .current-song-date {
}

