.player {
	display: flex
}

.col-a, .col-b {
	align-items: center
	display: flex
}

.col-a {
	flex-basis: 55%
}

.col-b {
	align-items: flex-start
	display: flex
	flex-basis: 35%
	flex-direction: column
	justify-content: center
}

