.songs {
	list-style: none
	margin: 0
	padding: 0

	li {
		cursor: pointer
		display: flex
		padding: 1em 0.4em
	}

	li:hover, li.selected {
		background: $color
		color: black
		font-weight: bold
	}

	.song-title {
		flex-grow: 1
	}
}

