.songs {
	.close-songs {
		left: -56px
		position: absolute
	}

	.current-album {
		display: flex
		font-size: 1.2em
		padding: 1em 0.4em

		.current-album-title {
			flex-grow: 1
		}
	}

	ul {
		height: 100%
		list-style: none
		margin: 0
		overflow-y: auto
		padding: 0
		position: absolute
		width: 100%
	}

	li {
		cursor: pointer
		display: flex
		padding: 1em 0.4em
	}

	li:hover, li.selected {
		background: $color
		color: black
		font-weight: bold
	}

	.song-title {
		flex-grow: 1
	}
}

