$color = #eee

* {
	box-sizing: border-box;
}

html, body {
	background: black;
	background-size: cover;
	margin: 0;
	/* for out of bound tilt effect on small screen */
	overflow: hidden;
	padding: 0;
}

body {
	color: $color;
	font-family: sans-serif;
}


// App

.app {
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.prev-song, .next-song {
	border: 0;
	cursor: pointer;
	display: block;
	opacity: 0;
	outline: none;
	transition opacity .2s linear;
	width: 5%;
	z-index: 1;
}

.prev-song {
	background: radial-gradient(ellipse at 0 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%);
}

.next-song {
	background: radial-gradient(ellipse at 100% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%);
}

.prev-song:hover, .next-song:hover {
	opacity: 1;
}

.fullscreen {
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}



// Player

.player {
	display: flex;
}

.col-a, .col-b {
	align-items: center;
	display: flex;
}

.col-a {
	flex-basis: 55%;
}

.col-b {
	align-items: flex-start;
	display: flex;
	flex-basis: 35%;
	flex-direction: column;
	justify-content: center;
}


// Cover

.background-cover {
	background: no-repeat center center fixed;
	background-size: cover;
	bottom: 0;
	-webkit-filter: blur(5px) contrast(200%) brightness(1);
	filter: blur(5px) contrast(200%) brightness(1);
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.1s ease-in;
	z-index: -1;
}

.cover {
	margin: 0 auto;
	perspective: 1000px;
	position: relative;
}

.cover-tilt {
	height: 800px;
	position: relative;
	transform: perspective(1000px) rotateY(5deg);
	transform-style: preserve-3d;
	transition: all 0.3s ease-in;
	width: 800px;
}

.cover-tilt:hover {
	transform: perspective(1000px) rotateY(0deg);
}

.cover-tilt.flipped {
	transform: perspective(1000px) rotateY(185deg);
}

@media (max-width: 1500px) {
	.cover-tilt {
		height: 500px;
		width: 500px;
	}
}

.cover img {
	height: 100%;
	position: absolute;
	width: 100%;
}


.cover-vynil {
	backface-visibility: hidden;
	display: block;
	left: 0;
	transition: all 0.3s linear;
}

.cover-vynil.spinning {
	animation: spin 5s infinite linear;
	left: 150px;
}

.cover-tilt:hover .cover-vynil.spinning {
	left: 250px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.cover-front, .cover-back {
	backface-visibility: hidden;
	border-radius: 5px;
	border: 10px solid rgba(255, 255, 255, 0.05);
	bottom: 0;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.cover-back {
	background: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	transform: rotateY(180deg);
}

.progress {
	backface-visibility: hidden;
	background: $color;
	border-radius: 5px;
	position: absolute;
	transition: all 1s linear;
}

.songs {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		cursor: pointer;
		padding: 1em 0.4em;
	}

	li:hover, li.selected {
		background: $color;
		color: black;
		font-weight: bold;
	}
}

// CurrentSong

.current-song {
	min-height: 260px;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	/* vynil needs to spin below song infos */
	z-index: 1;
}

.current-song-title {
	display: block;
	font-size: 4em;
	letter-spacing: 0.1em;
	margin-bottom: 0.2em;
}

.current-song-artist {
	display: block;
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 0.2em;
	padding: 0;
}

.current-song-date {
	margin-right: 1em;
}

// Controls

.controls {
	margin-top: 3em;
	z-index: 1;
}

.material-button {
	align-items: center;
	background: none;
	border: none;
	color: #999;
	cursor: pointer;
	display: inline-flex;
	font-weight: bold;
	height: 48px;
	justify-content: center;
	margin-right: 1em;
	outline: none;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 48px;

	i {
		font-size: 48px;
		transition: all .2s linear;
		vertical-align: middle;
	}

	&:hover {
		color: $color;
	}
}

.controls a {
	margin-left: 1em;
}

.material-button:hover i {
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.material-enabled {
	color: #fff;
}


// Albums

.albums {
	display: flex;
	justify-content: center;
}

.album {
	cursor: pointer;
	margin-left: 1em;
	text-align: center;
	width: 100px;

	.album-title {
		margin-top: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.cover-art {
		border: 5px solid rgba(255, 255, 255, 0.05);
		display: block;
		height: 100px;
		width: 100px;
	}
}

.current-album {
	font-weight: bold;

	.cover-art {
		border: 5px solid $color
	}
}

.close-albums {
	position: absolute;
	right: 0;
}
