* {
	box-sizing: border-box;
}

html, body {
	background: black;
	background-size: cover;
	margin: 0;
	/* for out of bound tilt effect on small screen */
	overflow: hidden;
	padding: 0;
}

body {
	color: #EEE;
	font-family: sans-serif;
}

.app {
	bottom: 0;
	display: flex;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.background-cover {
	background: no-repeat center center fixed;
	background-size: cover;
	bottom: 0;
	-webkit-filter: blur(5px) contrast(200%) brightness(1);
	filter: blur(5px) contrast(200%) brightness(1);
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.1s ease-in;
}

.cover {
	margin: 0 auto;
	perspective: 1000px;
	position: relative;
}

.cover-tilt {
	height: 800px;
	position: relative;
	transform: perspective(1000px) rotateY(5deg);
	transform-style: preserve-3d;
	transition: all 0.3s ease-in;
	width: 800px;
}

.cover-tilt:hover {
	transform: perspective(1000px) rotateY(0deg);
}

@media (max-width: 1500px) {
	.cover-tilt {
		height: 600px;
		width: 600px;
	}
}

.cover img {
	height: 100%;
	position: absolute;
	width: 100%;
}

.cover-art {
	border: 10px solid rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.cover-vynil {
	display: block;
	left: 0;
	transition: all 0.3s linear;
}

.cover-vynil.spinning {
	animation: spin 5s infinite linear;
	left: 150px;
}

.cover-tilt:hover .cover-vynil.spinning {
	left: 250px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.prev-song, .next-song {
	border: 0;
	cursor: pointer;
	display: block;
	opacity: 0;
	outline: none;
	transition opacity .2s linear;
	width: 5%;
	z-index: 1;
}

.prev-song {
	background: radial-gradient(ellipse at 0 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
}

.next-song {
	background: radial-gradient(ellipse at 100% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
}

.prev-song:hover, .next-song:hover {
	opacity: 1;
}

.current-song {
	min-height: 260px;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	/* vynil needs to spin below song infos */
	z-index: 1;
}

.current-song-title {
	display: block;
	font-size: 4em;
	letter-spacing: 0.1em;
	margin-bottom: 0.2em;
}

.current-song-artist {
	display: block;
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 0.2em;
	padding: 0;
}

.current-song-date {
	margin-right: 1em;
}

.controls {
	margin-top: 3em;
	z-index: 1;
}

.controls button, .controls a {
	align-items: center;
	background: none;
	border: none;
	color: #999;
	cursor: pointer;
	display: inline-flex;
	font-weight: bold;
	height: 48px;
	justify-content: center;
	margin-right: 1em;
	outline: none;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 48px;
}

.controls a {
	margin-left: 1em;
}

.controls i {
	font-size: 48px;
	transition: all .2s linear;
	vertical-align: middle;
}

.controls button:hover i {
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.material-enabled {
	color: #fff;
	text-shadow: 0px 5px 5px rgba(255, 255, 255, 0.3);
}

.col-a, .col-b {
	align-items: center;
	display: flex;
}

.col-a {
	flex-basis: 55%;
}

.col-b {
	align-items: flex-start;
	display: flex;
	flex-basis: 35%;
	flex-direction: column;
	justify-content: center;
}
