* {
  box-sizing: border-box;
}

html, body {
	background: black;
	background-size: cover;
	margin: 0;
	/* for out of bound tilt effect on small screen */
	overflow: hidden;
	padding: 0;
}

body {
	color: #EEE;
	font-family: sans;
}

.app {
	bottom: 0;
	display: flex;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.background-cover {
	background: no-repeat center center fixed;
	background-size: cover;
	bottom: 0;
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.1s ease-in;
	z-index: -1;
}

.cover {
	margin: 0 auto;
	perspective: 1000px;
}

.cover img {
	border: 10px solid rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
	height: 700px;
	position: relative;
	transform: perspective(1000px) rotateY(5deg);
	transform-style: preserve-3d;
	transition: transform 0.3s ease-in;
	width: 700px;
}

.current-song {
	min-height: 260px;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.current-song-title {
	display: block;
	font-size: 4em;
	letter-spacing: 0.1em;
	margin-bottom: 0.2em;
}

.current-song-youtube {
	background: #e00;
	border-radius: 10px;
	color: #fff;
	display: none;
	font-size: .5em;
	margin-left: 0.5em;
	padding: 0 .2em 0 .5em;
	text-align: center;
	text-decoration: none;
}

.current-song-title:hover .current-song-youtube {
	display: inline-block;
}

.current-song-artist {
	display: block;
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 0.2em;
	padding: 0;
}

.current-song-date {
	margin-right: 1em;
}

.col-a, .col-b {
	align-items: center;
	display: flex;
	flex-basis: 50%;
}
